<%- include('../includes/admin-header.ejs') %>
</head>
<body>
<%- include('../includes/admin-navigation.ejs') %>
<% for(product of data){ %>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="/images/home/product1.jpg" alt="" />
                        <h2>$ <%= product.price %></h2>
                        <p><%= product.title %></p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        <a href="/admin/product/<%= product.id %>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>View Details</a>
                    </div>
            </div>
        </div>
    </div>

<% } %>
<%- include('../includes/footer.ejs') %>